:root {
    --cor-principal: #6e859f;
    --cor-secundaria: #284260;
    --cor-destaque: #c92bfc;
}

body {
    font-family: 'Arial', sans-serif;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal);
}

footer a:hover {
    color: var(--cor-destaque);
}

body.dark-mode {
    background-color: rgba(18, 18, 18, 0.853);
    color: #fff;
}

header {
    padding-top: 80px;
}

.dark-mode-btn-container {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-top: 20px;
}

#dark-mode-toggle {
    background-color: rgb(44, 62, 80);
    color: #fff;
    border: none;
    padding: 4px 12px;
    border-radius: 18px; 
    font-size: 14px;     
    cursor: pointer;
    transition: 0.2s ease;
}

#dark-mode-toggle:hover {
    background-color: #fff;
    color: rgb(44, 62, 80);
}

.dark-mode-btn:hover {
    background-color: #fff;
    color: rgb(44, 62, 80);
    border-radius: 150px;
}

.modal-body img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}
